[submodule "deps/hsregex"]
	path = deps/hsregex
	url = https://github.com/technicalmachine/hsregex.git
[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "deps/lua-5.1"]
	path = deps/lua-5.1
	url = https://github.com/technicalmachine/lua-5.1.git
